{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Прогноз погоды по названию города</h1>

    <!-- Форма ввода города -->
    <div class="mt-5 mb-3">
        <p class="text-center">Введите название города для получения прогноза погоды на 3 дня</p>
        <input type="text" id="city-input" class="form-control" placeholder="Введите название города..." style="width: 50%;">
        <ul id="suggestions" class="list-group mt-2"></ul>
    </div>

    <!-- Фраза с названием города -->
    <h2 id="weather-title" class="text-center mt-3"></h2>

    <!-- Таблица для отображения погоды -->
    <table id="weather-table" class="table table-bordered table-warning text-center mt-3">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Мин. температура</th>
                <th>Макс. температура</th>
                <th>Ветер</th>
                <th>Осадки</th>
                <th>Облачность</th>
            </tr>
        </thead>
        <tbody id="weather-table-body">
        </tbody>
    </table>

    <!-- Контейнер для мобильных экранов (≤767px) -->
    <div id="weather-cards" class="d-none"></div>

    <!-- Модальное окно для выбора города -->
    <div class="modal fade" id="lastCityModal" tabindex="-1" aria-labelledby="lastCityModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lastCityModalLabel">Последний просмотр погоды</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <p id="lastCityText"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="showWeatherBtn">Да</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
